@tailwind base;
@tailwind components;
@tailwind utilities;


@custom-variant dark (&:where(.dark, .dark *));


@media (min-width: 768px) and (max-width: 805px) {
  .custom-nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-nav-links {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  .custom-nav-container > * {
    margin-top: 8px;
  }

  .custom-nav-container button,
  .custom-nav-container .ToggleTheme {
    align-self: flex-end;
  }
}